@import url("https://fonts.googleapis.com/css2?family=Domine&display=swap");

#active-tasks-title {
  font-family: "Domine", serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.button-tasklist {
  padding: 5px 12px;
  font-family: "Domine", serif;
  margin: 0 10px;
  height: 25px;
  outline: none;
  border: none;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

button:hover {
  background-color: greenyellow;
}
